<div id="filter-box" class="filterContainer">
  <app-breweries-filter
    filterName="Beer Name"
    (textInput)="onEventMyOwn($event)"
  ></app-breweries-filter>
  <app-breweries-filter
    filterName="ABV %"
    (textInput)="onEventMyOwn($event)"
  ></app-breweries-filter>
  <app-breweries-filter
    filterName="Beer Type"
    (textInput)="onEventMyOwn($event)"
  ></app-breweries-filter>
  <app-breweries-filter
    filterName="Rating"
    (textInput)="onEventMyOwn($event)"
  ></app-breweries-filter>
  <app-breweries-filter
    filterName="Brewery"
    (textInput)="onEventMyOwn($event)"
  ></app-breweries-filter>
  {{ filter | json }}
</div>
